ul.nav li a, ul.nav li a, ul.nav li a:visited{
    font-size: inherit !important;
    color: inherit !important;
}

ul.nav li.active{
    color: white;
}

.navbar-collapse.collapse.in{
    padding-left: 0%;
    /* margin-left: 0%; */
    background-color:"#533e42";
    width: 100%;
    text-align: center;
}
nav .container{
    margin-left: 0%;
    padding-left: 0%;
    margin-right: 0%;
    padding-right: 0%;
    width: 100%;
}

/* li a{
    color: black ! important;
} */

@media only screen and (max-width: 768px) {
    nav .container{
        display: flex;
        justify-content: center;

    }
    .navbar-collapse.collapse{
        /* margin-left: -15px !important; */
    }
}