<footer>
    <div class="footer-label">
        <img src="/Pictures/slk-label-invert.png" alt="no label" class="footer-label-image">
        <span class="footer-img-title">SLK</span>
    </div>

    <div class="bottom contacts">
        <span class="footer-title">
          КОНТАКТЫ
      </span>

        <div class="contact-wrapper wrap-phones">
            <span class="bot-contact">+375(44) 590-56-05</span>
            <span class="bot-contact">+375(44) 780-84-20</span>
        </div>
        <div class="contact-wrapper wrap-mails">
            <span class="bot-contact">sergey-lord@rambler.ru</span>
            <span class="bot-contact">balkar20@mail.ru</span>
        </div>
        <div class="contact-wrapper wrap-socials">
            <a href="" class="image-link"><img src="./Pictures/socials/vk.png" alt="empty" class="vk-img"></a>
            <a href="" class="image-link"><img src="./Pictures/socials/instagram.png" alt="empty" class="vk-img"></a>
            <a href="" class="image-link"><img src="./Pictures/socials/viber.png" alt="empty" class="vk-img"></a>
            <a href="" class="image-link"><img src="./Pictures/socials/telegram.png" alt="empty" class="vk-img"></a>
        </div>

    </div>

    <ul class="bottom menu">
        <span class="footer-title">
          МЕНЮ
      </span>
        <li>
            <a href="http://">O нас </a>
        </li>
        <li>
            <a href="http://">Контакты</a>
        </li>
        <li>
            <a href="http://">Скидки</a>
        </li>
        <li>
            <a href="http://">Инфо</a>
        </li>
        <li>
            <a href="http://">Бла бла</a>
        </li>
    </ul>

    <form class="bottom callyou">
        <div class="callyou-container">
            <input type="text" placeholder="Ваше имя" class="bottom-input">
            <input type="tel" placeholder="Номер телефона" class="bottom-input">
            <button type="submit" class="bottom-submit">Мы перезвоним</button>
        </div>

    </form>
</footer>