.top-container {
    width: 100%;
    margin: 10px auto;
}

.top-five {
    display: block;
    height: 50px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    color: #ff7f50;
}

.top-list {
    height: 150px;
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    background: #2d2d2d;
    margin: 8px;
}

.segments {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: #2d2d2d;
    margin: 8px;
}

.news-element {
    display: inline-block;
    color: cornsilk;
    background: #252525;
    height: 80%;
    width: 100%;
    text-align: center;
    margin: 0 5px;
    border-radius: 10%;
    border: 2px solid #2d2727;
    border-radius: 30%;
}

.news-title {
    position: absolute;
    top: 3%;
    left: 0;
    font-stretch: expanded;
    font-style: normal;
    font-family: inherit;
    background: rgba(16, 4, 4, 0.41);
    color: white;
    display: inline-block;
    width: 100%;
}

.news-status {
    position: absolute;
    bottom: 3%;
    left: 0;
    font-stretch: expanded;
    font-style: normal;
    font-family: cursive;
    background: rgba(145, 6, 6, 0.41);
    color: white;
    display: inline-block;
    width: 100%;
}

@media (max-width: 768px) {
    .top-list {
        height: 100%;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}