<header>
  <span class="tels">
    <span id="vel">velcom:</span> +375 29 3-026-026
    <span id="mts">mts:</span> +375 29 2-730-730
    <span id="life">life:</span> +375 29 610-75-75
  </span><br/>
  <span id="title">КОВРЫ ДЛЯ АВТОМОБИЛЕЙ</span>
</header>
<nav class="top">
  <div class="link1">
    <a class="navLinks" href="#">О нас</a>
  </div>
  <div class="link2">
    <a class="navLinks" href="#">Новости</a>
  </div>
  <div class="link3">
    <a class="navLinks" href="#">Контакты</a>
  </div>
</nav>
