<div>
    <app-nav-menu></app-nav-menu>
</div>
<section class="content">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</section>
<footer>
    <ul class="bottom">
        <li>
            <a href="http://"></a>
        </li>
        <li>
            <a href="http://"></a>
        </li>
        <li>
            <a href="http://"></a>
        </li>
        <li>
            <a href="http://"></a>
        </li>
        <li>
            <a href="http://"></a>
        </li>
    </ul>
</footer>