.data-content {
    position: absolute;
    width: 100%;
    margin: 10px auto;
    top: 45px;
    height: 100%;
}

.content-container {
    display: grid;
    grid-template-columns: 4fr 2fr;
    width: 90%;
    margin: 0 auto;
}


/* .image-link {
    display: block;
    width: 100%;
    height: 100%;
}

.newsimage {
    display: inline-block;
    width: 100%;
    height: 100%;
}

@media (max-width: 767px) {
    .data-content {
        position: absolute;
        width: 100%;
        top: 173px;
        height: 100%;
    }
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */


/* .body-content {
    padding-top: 50px;
}


}
*/