<div class="top-container">
    <span class="top-five">ТОП 5</span>
    <!-- <ul class="segments">
        <li class="segment"><button class="segment-button">ПОЛИТИКА</button></li>
        <li class="segment"><button class="segment-button">ШОУ-БИЗНЕСС</button></li>
        <li class="segment"><button class="segment-button">ТЕХНОЛОГИИ</button></li>
        <li class="segment"><button class="segment-button">АВТО</button></li>
        <li class="segment"><button class="segment-button">ПРИРОДА</button></li>
        <li class="segment"><button class="segment-button">ИССКУСТВО</button></li>
    </ul> -->
    <ul class="top-list">
        <li class="news-element" *ngFor="let news of newsRebates; let i=index trackBy: trackByItems">
            <span class="rating-number">{{i+1}}</span>
            <div class="top-low">
                <span class="top">{{news.title}}</span>

            </div>
            <a href="#" [ngStyle]="setLinkStyle(news.imgPath)" class="image-link">
                <!-- <span class="news-title">{{news.title}}</span> -->
                <span class="news-status">DIRTY</span>
            </a>
        </li>
    </ul>
</div>