@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    
}
ul.nav li a, ul.nav li a:visited {
    color: red !important;
}
body {
    margin-top: 0%;
    height: 100%;
    /* overflow: hidden; */
    overflow-x: hidden;
    background: url("http://x-lines.ru/letters/i/cyrillicbasic/0495/b37a7c/42/1/etozr43ye31se3m1cf4g155q.png");
    background-color: #0b0b0b;
    background-size: 1200px, 100px;
    background-position: top center;
    background-repeat: no-repeat;

}

.pad{
    padding-left: 0px; 
}
