@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    
}
ul.nav li a, ul.nav li a:visited {
    color: red !important;
}
body {
    margin-top: 0%;
    background-color: #1a2b42;

}

.pad{
    padding-left: 0px; 
}
